<mat-toolbar color="primary" class="topbar">
  <span class="topbar__title">AEKD – Tontine</span>
  <span class="topbar__spacer"></span>

  @if (currentUser(); as user) {
    <button mat-button [matMenuTriggerFor]="userMenu" class="topbar__user">
      <mat-icon>account_circle</mat-icon>
      {{ user.email }}
    </button>
    <mat-menu #userMenu="matMenu">
      <div class="topbar__roles">{{ user.roles.join(', ') }}</div>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Se déconnecter</span>
      </button>
    </mat-menu>
  }
</mat-toolbar>

<mat-sidenav-container class="shell">
  <mat-sidenav mode="side" opened class="shell__sidenav">
    <mat-nav-list>
      @for (item of navItems(); track item.path) {
        <a
          mat-list-item
          [routerLink]="item.path"
          routerLinkActive="shell__nav-item--active"
          class="shell__nav-item"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="shell__content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
